/* Ref: https://github.com/elv1n/slack-dark-mojave-theme/blob/master/style.css */
:root {
	--primary: #09F;
	--text: rgb(214, 196, 196);
	--background: rgb(41, 42, 49);
	--background-elevated: rgb(41, 42, 49);
	--color-highlight: rgb(43, 107, 149);

	/* These should be less important: */
	--background-hover: rgba(255, 255, 255, 0.1);
	--background-light: #AAA;
	--background-bright: #FFF;

	--border-dim: #666;
	--border-bright: rgb(85, 85, 85);

	--text-bright: #FFF;
	--text-special: var(--primary);
	--text-grey: #717274;

	--scrollbar-background: rgb(120, 120, 120);
	--scrollbar-border: rgb(120, 120, 120);

	--active-icon: rgb(43, 107, 149);

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:1.15em; color:blue;
}

html, body {
	background: var(--background);
	color: var(--text);
}
